@media (min-width: 768px) and (max-width: 991px) {
  body {
    color: black;
  }
}

@media (min-width: 992px) {
  body {
    color: black;
  }
}

body {
  background-color: white;
}

h1 {
  text-align: center;
  font-weight: bolder;
  padding-bottom: 2rem;
}

#troiBlocs .container {
  position: relative;
  width: 1200px;
  height: 300px;
  margin: 240px auto;
}

#troiBlocs .container .box {
  position: relative;
  background-color: yellow;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

#loupe {
  position: absolute;
  right: 5px;
  top: -90px;
  display: inline-block;
  background: #eee;
  border: 1px solid #DD4B39;
  font-size: 4em;
  font-weight: 700;
  padding: 10px;
}
